<form>
  <div class="c-input">
    <div class="c-input__pulldown">
      <select>
        <option value="">セレクトボックス01</option>
        <option value="">選択肢01</option>
        <option value="">選択肢02</option>
        <option value="">選択肢03</option>
        <option value="">選択肢04</option>
        <option value="">選択肢05</option>
      </select>
      <i class="fas fa-chevron-down"></i>
    </div>
    <p class="c-input__error-text">エラー</p>
  </div>
  <br>
  <dl class="c-input__item-pulldown">
    <dt class="item-title">項目</dt>
    <dd class="item-text">
      <select>
        <option selected value="">テキスト</option>
        <option value="">選択肢04</option>
        <option value="">選択肢02</option>
        <option value="">選択肢03</option>
        <option value="">選択肢04</option>
        <option value="">選択肢05</option>
      </select>
      <i class="fas fa-chevron-down"></i>
    </dd>
  </dl>
</form>