<form> 
  <div class="c-input">
    <ul>
      <li>
        <input type="radio" class="c-input__radio" name="q1" id="radio02-01">
        <label class="c-input__radio-text" for="radio02-01">ラジオ01</label>
      </li>
      <li>
        <input type="radio" class="c-input__radio" name="q1" id="radio02-02">
        <label class="c-input__radio-text" for="radio02-02">ラジオ02</label>
      </li>
    </ul>
    <p class="c-input__error-text">エラー</p>
  </div>
</form>