<form>
  <div class="c-input">
    <p class="c-input__title">項目タイトル名<span class="c-label--primary">必須</span></p>
    <div class="input-box">
      <p class="input-box__item">
        <i class="far fa-envelope"></i>
      </p>
      <input class="c-input__text" type="text" name="" placeholder="Email Address">
    </div>

    <p class="c-input__error-text">エラー</p>
  </div>

  <br>

  <div class="c-input">
    <div class="input-box">
      <p class="input-box__item">
        <i class="fas fa-lock"></i>
      </p>
      <input class="c-input__text" type="text" name="" placeholder="password">
    </div>
    <p class="c-input__error-text">エラー</p>
  </div>

  <br>

  <div class="c-input">
    <input class="c-input__text" type="text" name="" placeholder="入力してください">
    <p class="c-input__error-text">エラー</p>
  </div>

  <div class="c-input--area">
    <input class="c-input__text" type="text" name="" placeholder="入力してください">
  </div>
</form>