<div class="c-switch{{ category }}">
  <label class="c-switch__lable" for="switch">
    <input class="c-switch__input" type="checkbox" id="switch" />
    <span class="c-switch__content"></span>
    <span class="c-switch__item"></span>
  </label>
</div>
